.app-header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.app-header h1 {
    color: rgb(173, 173, 246);;
}

.nav-link {
    color: white;
    padding: 15px;
}
